---
interface Props {
	image: string;
	title: string;
	description: string;
    price: string;
}

const { image, title, description, price } = Astro.props;
---

<div class="card bg-stone-500 w-96 shadow-xl m-5">
    <figure>
      <img
        src={image}
        alt={title} />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{title}</h2>
      <p>{description}</p>
      <div class="card-actions justify-end">
        <button class="btn">{price}</button>
      </div>
    </div>
  </div>